rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leads/{leadId} {
      // Allow anybody to create a lead, protecting lead privacy by disallowing read, update or delete.
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}
